@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: system-ui, sans-serif;
}

app-shell {
  display: flex;
  height: 100vh;
}
